@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Regular.ttf");
}

html {
    border: none;
}

body {
    font-family: "Barlow";
    
}

.personal_image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url("../img/personal_foto.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 1px #778DA9;
    position: relative;
}

.video-container {
    height: 150px;
    width: auto;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #dc0000;
    padding: 10px;
}

.about_descr {
    background-color: #1B263B;
    color: #E0E1DD;
    margin: 50px;
    padding: 50px;
    min-height: 700px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px darkgray;

}

.my_skills {
    background-color: #415A77;
    color: #E0E1DD;
    margin: 50px;
    padding: 40px;
    min-height: 700px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}


.projects {
    background-color: #415A77;
    color: #E0E1DD;
    margin: 50px;
    padding: 40px;
    min-height: 700px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

section{
    margin: 25px;
}

article{
    padding: 50px;
}

.logoList{
    list-style: none;
}

.logoList li{
    display: inline;
}

.logo_media{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.icon_skils{
    height: 50px;
    width: 50px;
}

.btn_skils{
    border-radius: 10px;
    color:white;
    background-color: #1B263B;
    margin: 10px;
    height: 100px;
    width: 150px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 5px #778DA9;
}